@font-face
  font-family: Quark-LightBold
  src: url('/fonts/Quark-LightBold/Quark-Light.otf') format("truetype")

body
  font-family: Quark-LightBold , verdana, helvetica, sans-serif
///Intro Segment

.intro-segment
  position: relative
  background: rgba(0,0,0,0.7)
  height: 100vh
  width: 100%
  background-size: cover
  overflow: hidden
  #vdo-bg
    position: absolute
    left: 0
    top: -25%
    width: auto
    height: 50%
    z-index: -100
audio, canvas, progress, video
  width: 100%
.nav-bar-fixed
  position: fixed
  top: 0
  right: 3em
///Navigator Before Click
.nav-button
  cursor: pointer
  width: 5em
  height: 5em
  position: sticky
  float: right
  margin-right: 3em
  -webkit-animation-name: example
  -webkit-animation-duration: 4s
  -webkit-animation-iteration-count: 3
  animation-name: example
  animation-duration: 1s
  animation-iteration-count: 1
@-webkit-keyframes example
  0%
    left: 200px
    top: 0px
  100%
    left: 0px
    top: 0px
@keyframes example
  0%
    left: 200px
    top: 0px
  100%
    left: 0px
    top: 0px
///Navigator After click
.nav-border
  border: 1px solid #000
.nav-button-after
  cursor: pointer
  width: 5em
  height: 5em
  position: relative
  float: right
  margin-right: 6em
  -webkit-animation-name: after
  -webkit-animation-duration: 4s
  -webkit-animation-iteration-count: 3
  animation-name: after
  animation-duration: 0.5s
  animation-iteration-count: 1
@-webkit-keyframes after
  0%
    left: 200px
    top: 0px
  100%
    left: 0px
    top: 0px
@keyframes af
  0%
    left: 200px
    top: 0px
  100%
    left: 0px
    top: 0px
///Menu icon
*
  margin: 0
  padding: 0


/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4
  width: 60px
  height: 45px
  position: relative
  margin: 50px auto
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer


#nav-icon1 span, #nav-icon3 span, #nav-icon4 span
  display: block
  position: absolute
  height: 9px
  width: 100%
  background: #d3531a
  border-radius: 9px
  opacity: 1
  left: 0
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .25s ease-in-out
  -moz-transition: .25s ease-in-out
  -o-transition: .25s ease-in-out
  transition: .25s ease-in-out


#nav-icon1 span:nth-child(1)
  top: 0px


#nav-icon1 span:nth-child(2)
  top: 18px


#nav-icon1 span:nth-child(3)
  top: 36px


#nav-icon1.open span:nth-child(1)
  top: 18px
  -webkit-transform: rotate(135deg)
  -moz-transform: rotate(135deg)
  -o-transform: rotate(135deg)
  transform: rotate(135deg)


#nav-icon1.open span:nth-child(2)
  opacity: 0
  left: -60px


#nav-icon1.open span:nth-child(3)
  top: 18px
  -webkit-transform: rotate(-135deg)
  -moz-transform: rotate(-135deg)
  -o-transform: rotate(-135deg)
  transform: rotate(-135deg)


/* Icon 2 */

#nav-icon2


#nav-icon2 span
  display: block
  position: absolute
  height: 9px
  width: 50%
  background: #ff9b2b
  opacity: 1
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .25s ease-in-out
  -moz-transition: .25s ease-in-out
  -o-transition: .25s ease-in-out
  transition: .25s ease-in-out
  z-index: +500
#nav-icon2 span:nth-child(even)
  left: 50%
  border-radius: 0 9px 9px 0


#nav-icon2 span:nth-child(odd)
  left: 0px
  border-radius: 9px 0 0 9px


#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2)
  top: 0px


#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4)
  top: 18px


#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6)
  top: 36px


#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)


#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)


#nav-icon2.open span:nth-child(1)
  left: 5px
  top: 7px


#nav-icon2.open span:nth-child(2)
  left: calc(50% - 5px)
  top: 7px


#nav-icon2.open span:nth-child(3)
  left: -50%
  opacity: 0


#nav-icon2.open span:nth-child(4)
  left: 100%
  opacity: 0


#nav-icon2.open span:nth-child(5)
  left: 5px
  top: 29px


#nav-icon2.open span:nth-child(6)
  left: calc(50% - 5px)
  top: 29px


/* Icon 3 */

#nav-icon3 span:nth-child(1)
  top: 0px


#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3)
  top: 18px


#nav-icon3 span:nth-child(4)
  top: 36px


#nav-icon3.open span:nth-child(1)
  top: 18px
  width: 0%
  left: 50%


#nav-icon3.open span:nth-child(2)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)


#nav-icon3.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)


#nav-icon3.open span:nth-child(4)
  top: 18px
  width: 0%
  left: 50%


/* Icon 4 */

#nav-icon4


#nav-icon4 span:nth-child(1)
  top: 0px
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center


#nav-icon4 span:nth-child(2)
  top: 18px
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center


#nav-icon4 span:nth-child(3)
  top: 36px
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center


#nav-icon4.open span:nth-child(1)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)
  top: -3px
  left: 8px


#nav-icon4.open span:nth-child(2)
  width: 0%
  opacity: 0


#nav-icon4.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)
  top: 39px
  left: 8px

.logo
  position: absolute
  display: flex
  flex-flow: row
  left: 33.2em
  top: 4em
  img
    width: 27em
    height: 35em
.content-intro
  display: flex
  justify-content: center
  flex-flow: column
  margin-top: 23em
  text-align: center
  h1
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
    font-size: 70px
    font-weight: lighter
    line-height: 0
    color: #fff
    margin-top: 2.5em
    margin-left: 0.5em
    text-shadow: 0 0 0.2em #ff9b29, 0 0 0.2em #ff9b29
  h3
    font-size: 26px
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
    font-weight: lighter
    color: #fff
    margin-left: 0.8em
    margin-top: 8em
    text-shadow: 0 0 0.2em #ff9b29, 0 0 0.2em #ff9b29
.ui.menu
  font-size: 1.3rem
  font-family: Quark-LightBold , verdana, helvetica, sans-serif
.ui.inverted.menu
  background-color: #424242
.ui.menu .item
  line-height: 1.4


///What is Ada Segment
.what-adaode-segment
  display: flex
  justify-content: center
  align-items: center
  background: url('/images/what-is/WhatIs-bg.png')
  background-color: #9E9E9E
  height: 100vh
  background-size: cover
  overflow: hidden
  img
    position: absolute
    margin-top: 13em
    width: 75em
    height: 39em
    border-radius: 2em
.content-what-ada
  width: 75%
  height: 60%
  color: #fff
  background-color: rgba(66,65,83,0.9)
  text-align: center
  padding: 2em
  border-radius: 2em
  border: 1px solid #302f3d
  box-shadow: .1em .1em rgba(48, 47, 61, 1),.2em .2em rgba(48, 47, 61, 1),.3em .3em rgba(48, 47, 61, 1),.4em .4em rgba(48, 47, 61, 1),.5em .5em rgba(48, 47, 61, 1),.6em .6em rgba(48, 47, 61, 1),.7em .7em rgba(48, 47, 61, 1),.8em .8em rgba(48, 47, 61, 1),.9em .9em rgba(48, 47, 61, 1),1em 1em rgba(48, 47, 61, 1),1.1em 1.1em rgba(48, 47, 61, 1),1.2em 1.2em rgba(48, 47, 61, 1),1.3em 1.3em rgba(48, 47, 61, 1),1.4em 1.4em rgba(48, 47, 61, 1),1.5em 1.5em rgba(48, 47, 61, 1),1.6em 1.6em rgba(48, 47, 61, 1),1.7em 1.7em rgba(48, 47, 61, 1),1.8em 1.8em rgba(48, 47, 61, 1),1.9em 1.9em rgba(48, 47, 61, 1),2em 2em rgba(48, 47, 61, 1),2.1em 2.1em rgba(48, 47, 61, 1),2.2em 2.2em rgba(48, 47, 61, 1),2.3em 2.3em rgba(48, 47, 61, 1),2.4em 2.4em rgba(48, 47, 61, 1),2.5em 2.5em rgba(48, 47, 61, 1),2.6em 2.6em rgba(48, 47, 61, 1),2.7em 2.7em rgba(48, 47, 61, 1),2.8em 2.8em rgba(48, 47, 61, 1),2.9em 2.9em rgba(48, 47, 61, 1),3em 3em rgba(48, 47, 61, 1),3.1em 3.1em rgba(48, 47, 61, 1),3.2em 3.2em rgba(48, 47, 61, 1),3.3em 3.3em rgba(48, 47, 61, 1),3.4em 3.4em rgba(48, 47, 61, 1),3.5em 3.5em rgba(48, 47, 61, 1),3.6em 3.6em rgba(48, 47, 61, 1),3.7em 3.7em rgba(48, 47, 61, 1),3.8em 3.8em rgba(48, 47, 61, 1),3.9em 3.9em rgba(48, 47, 61, 1),4em 4em rgba(48, 47, 61, 1),4.1em 4.1em rgba(48, 47, 61, 1),4.2em 4.2em rgba(48, 47, 61, 1),4.3em 4.3em rgba(48, 47, 61, 1),4.4em 4.4em rgba(48, 47, 61, 1),4.5em 4.5em rgba(48, 47, 61, 1),4.6em 4.6em rgba(48, 47, 61, 1),4.7em 4.7em rgba(48, 47, 61, 1),4.8em 4.8em rgba(48, 47, 61, 1),4.9em 4.9em rgba(48, 47, 61, 1),5em 5em rgba(48, 47, 61, 1),5.1em 5.1em rgba(48, 47, 61, 1),5.2em 5.2em rgba(48, 47, 61, 1),5.3em 5.3em rgba(48, 47, 61, 1),5.4em 5.4em rgba(48, 47, 61, 1),5.5em 5.5em rgba(48, 47, 61, 1),5.6em 5.6em rgba(48, 47, 61, 1),5.7em 5.7em rgba(48, 47, 61, 1),5.8em 5.8em rgba(48, 47, 61, 1),5.9em 5.9em rgba(48, 47, 61, 1),6em 6em rgba(48, 47, 61, 1),6.1em 6.1em rgba(48, 47, 61, 1),6.2em 6.2em rgba(48, 47, 61, 1),6.3em 6.3em rgba(48, 47, 61, 1),6.4em 6.4em rgba(48, 47, 61, 1),6.5em 6.5em rgba(48, 47, 61, 1),6.6em 6.6em rgba(48, 47, 61, 1),6.7em 6.7em rgba(48, 47, 61, 1),6.8em 6.8em rgba(48, 47, 61, 1),6.9em 6.9em rgba(48, 47, 61, 1),7em 7em rgba(48, 47, 61, 1),7.1em 7.1em rgba(48, 47, 61, 1),7.2em 7.2em rgba(48, 47, 61, 1),7.3em 7.3em rgba(48, 47, 61, 1),7.4em 7.4em rgba(48, 47, 61, 1),7.5em 7.5em rgba(48, 47, 61, 1),7.6em 7.6em rgba(48, 47, 61, 1),7.7em 7.7em rgba(48, 47, 61, 1),7.8em 7.8em rgba(48, 47, 61, 1),7.9em 7.9em rgba(48, 47, 61, 1),8em 8em rgba(48, 47, 61, 1),8.1em 8.1em rgba(48, 47, 61, 1),8.2em 8.2em rgba(48, 47, 61, 1),8.3em 8.3em rgba(48, 47, 61, 1),8.4em 8.4em rgba(48, 47, 61, 1),8.5em 8.5em rgba(48, 47, 61, 1),8.6em 8.6em rgba(48, 47, 61, 1),8.7em 8.7em rgba(48, 47, 61, 1),8.8em 8.8em rgba(48, 47, 61, 1),8.9em 8.9em rgba(48, 47, 61, 1),9em 9em rgba(48, 47, 61, 1),9.1em 9.1em rgba(48, 47, 61, 1),9.2em 9.2em rgba(48, 47, 61, 1),9.3em 9.3em rgba(48, 47, 61, 1),9.4em 9.4em rgba(48, 47, 61, 1),9.5em 9.5em rgba(48, 47, 61, 1),9.6em 9.6em rgba(48, 47, 61, 1),9.7em 9.7em rgba(48, 47, 61, 1),9.8em 9.8em rgba(48, 47, 61, 1),9.9em 9.9em rgba(48, 47, 61, 1),10em 10em rgba(48, 47, 61, 1),10.1em 10.1em rgba(48, 47, 61, 1),11em 11em rgba(48, 47, 61, 1),10.3em 10.3em rgba(48, 47, 61, 1),10.4em 10.4em rgba(48, 47, 61, 1),10.5em 10.5em rgba(48, 47, 61, 1),10.6em 10.6em rgba(48, 47, 61, 1),10.7em 10.7em rgba(48, 47, 61, 1),10.8em 10.8em rgba(48, 47, 61, 1),10.9em 10.9em rgba(48, 47, 61, 1),11em 11em rgba(48, 47, 61, 1),11.1em 11.1em rgba(48, 47, 61, 1),11.2em 11.2em rgba(48, 47, 61, 1),11.3em 11.3em rgba(48, 47, 61, 1),11.4em 11.4em rgba(48, 47, 61, 1),11.5em 11.5em rgba(48, 47, 61, 1),11.6em 11.6em rgba(48, 47, 61, 1),11.7em 11.7em rgba(48, 47, 61, 1),11.8em 11.8em rgba(48, 47, 61, 1),11.9em 11.9em rgba(48, 47, 61, 1),12em 12em rgba(48, 47, 61, 1),12.1em 12.1em rgba(48, 47, 61, 1),12.2em 12.2em rgba(48, 47, 61, 1),12.3em 12.3em rgba(48, 47, 61, 1),12.4em 12.4em rgba(48, 47, 61, 1),12.5em 12.5em rgba(48, 47, 61, 1),12.6em 12.6em rgba(48, 47, 61, 1),12.7em 12.7em rgba(48, 47, 61, 1),12.8em 12.8em rgba(48, 47, 61, 1),12.9em 12.9em rgba(48, 47, 61, 1),13em 13em rgba(48, 47, 61, 1),13.1em 13.1em rgba(48, 47, 61, 1),13.2em 13.2em rgba(48, 47, 61, 1),13.3em 13.3em rgba(48, 47, 61, 1),13.4em 13.4em rgba(48, 47, 61, 1),13.5em 13.5em rgba(48, 47, 61, 1),13.6em 13.6em rgba(48, 47, 61, 1),13.7em 13.7em rgba(48, 47, 61, 1),13.8em 13.8em rgba(48, 47, 61, 1),13.9em 13.9em rgba(48, 47, 61, 1),14em 14em rgba(48, 47, 61, 1),14.1em 14.1em rgba(48, 47, 61, 1),14.2em 14.2em rgba(48, 47, 61, 1),14.3em 14.3em rgba(48, 47, 61, 1),14.4em 14.4em rgba(48, 47, 61, 1),14.5em 14.5em rgba(48, 47, 61, 1),14.6em 14.6em rgba(48, 47, 61, 1),14.7em 14.7em rgba(48, 47, 61, 1),14.8em 14.8em rgba(48, 47, 61, 1),14.9em 14.9em rgba(48, 47, 61, 1),15em 15em rgba(48, 47, 61, 1),15.1em 15.1em rgba(48, 47, 61, 1),15.2em 15.2em rgba(48, 47, 61, 1),15.3em 15.3em rgba(48, 47, 61, 1),15.4em 15.4em rgba(48, 47, 61, 1),15.5em 15.5em rgba(48, 47, 61, 1),15.6em 15.6em rgba(48, 47, 61, 1),15.7em 15.7em rgba(48, 47, 61, 1),15.8em 15.8em rgba(48, 47, 61, 1),15.9em 15.9em rgba(48, 47, 61, 1),16em 16em rgba(48, 47, 61, 1),16.1em 16.1em rgba(48, 47, 61, 1),16.2em 16.2em rgba(48, 47, 61, 1),16.3em 16.3em rgba(48, 47, 61, 1),16.4em 16.4em rgba(48, 47, 61, 1),16.5em 16.5em rgba(48, 47, 61, 1),16.6em 16.6em rgba(48, 47, 61, 1),16.7em 16.7em rgba(48, 47, 61, 1),16.8em 16.8em rgba(48, 47, 61, 1),16.9em 16.9em rgba(48, 47, 61, 1),17em 17em rgba(48, 47, 61, 1),17.1em 17.1em rgba(48, 47, 61, 1),17.2em 17.2em rgba(48, 47, 61, 1),17.3em 17.3em rgba(48, 47, 61, 1),17.4em 17.4em rgba(48, 47, 61, 1),17.5em 17.5em rgba(48, 47, 61, 1),17.6em 17.6em rgba(48, 47, 61, 1),17.7em 17.7em rgba(48, 47, 61, 1),17.8em 17.8em rgba(48, 47, 61, 1),17.9em 17.9em rgba(48, 47, 61, 1),18em 18em rgba(48, 47, 61, 1),18.1em 18.1em rgba(48, 47, 61, 1),18.2em 18.2em rgba(48, 47, 61, 1),18.3em 18.3em rgba(48, 47, 61, 1),18.4em 18.4em rgba(48, 47, 61, 1),18.5em 18.5em rgba(48, 47, 61, 1),18.6em 18.6em rgba(48, 47, 61, 1),18.7em 18.7em rgba(48, 47, 61, 1),18.8em 18.8em rgba(48, 47, 61, 1),18.9em 18.9em rgba(48, 47, 61, 1),19em 19em rgba(48, 47, 61, 1),19.1em 19.1em rgba(48, 47, 61, 1),19.2em 19.2em rgba(48, 47, 61, 1),19.3em 19.3em rgba(48, 47, 61, 1),19.4em 19.4em rgba(48, 47, 61, 1),19.5em 19.5em rgba(48, 47, 61, 1),19.6em 19.6em rgba(48, 47, 61, 1),19.7em 19.7em rgba(48, 47, 61, 1),19.8em 19.8em rgba(48, 47, 61, 1),19.9em 19.9em rgba(48, 47, 61, 1),20em 20em rgba(48, 47, 61, 1),20.1em 20.1em rgba(48, 47, 61, 1),21em 21em rgba(48, 47, 61, 1),20.3em 20.3em rgba(48, 47, 61, 1),20.4em 20.4em rgba(48, 47, 61, 1),20.5em 20.5em rgba(48, 47, 61, 1),20.6em 20.6em rgba(48, 47, 61, 1),20.7em 20.7em rgba(48, 47, 61, 1),20.8em 20.8em rgba(48, 47, 61, 1),20.9em 20.9em rgba(48, 47, 61, 1),21em 21em rgba(48, 47, 61, 1),21.1em 21.1em rgba(48, 47, 61, 1),21.2em 21.2em rgba(48, 47, 61, 1),21.3em 21.3em rgba(48, 47, 61, 1),21.4em 21.4em rgba(48, 47, 61, 1),21.5em 21.5em rgba(48, 47, 61, 1),21.6em 21.6em rgba(48, 47, 61, 1),21.7em 21.7em rgba(48, 47, 61, 1),21.8em 21.8em rgba(48, 47, 61, 1),21.9em 21.9em rgba(48, 47, 61, 1),22em 22em rgba(48, 47, 61, 1),22.1em 22.1em rgba(48, 47, 61, 1),22.2em 22.2em rgba(48, 47, 61, 1),22.3em 22.3em rgba(48, 47, 61, 1),22.4em 22.4em rgba(48, 47, 61, 1),22.5em 22.5em rgba(48, 47, 61, 1),22.6em 22.6em rgba(48, 47, 61, 1),22.7em 22.7em rgba(48, 47, 61, 1),22.8em 22.8em rgba(48, 47, 61, 1),22.9em 22.9em rgba(48, 47, 61, 1),23em 23em rgba(48, 47, 61, 1),23.1em 23.1em rgba(48, 47, 61, 1),23.2em 23.2em rgba(48, 47, 61, 1),23.3em 23.3em rgba(48, 47, 61, 1),23.4em 23.4em rgba(48, 47, 61, 1),23.5em 23.5em rgba(48, 47, 61, 1),23.6em 23.6em rgba(48, 47, 61, 1),23.7em 23.7em rgba(48, 47, 61, 1),23.8em 23.8em rgba(48, 47, 61, 1),23.9em 23.9em rgba(48, 47, 61, 1),24em 24em rgba(48, 47, 61, 1),24.1em 24.1em rgba(48, 47, 61, 1),24.2em 24.2em rgba(48, 47, 61, 1),24.3em 24.3em rgba(48, 47, 61, 1),24.4em 24.4em rgba(48, 47, 61, 1),24.5em 24.5em rgba(48, 47, 61, 1),24.6em 24.6em rgba(48, 47, 61, 1),24.7em 24.7em rgba(48, 47, 61, 1),24.8em 24.8em rgba(48, 47, 61, 1),24.9em 24.9em rgba(48, 47, 61, 1),25em 25em rgba(48, 47, 61, 1),25.1em 25.1em rgba(48, 47, 61, 1),25.2em 25.2em rgba(48, 47, 61, 1),25.3em 25.3em rgba(48, 47, 61, 1),25.4em 25.4em rgba(48, 47, 61, 1),25.5em 25.5em rgba(48, 47, 61, 1),25.6em 25.6em rgba(48, 47, 61, 1),25.7em 25.7em rgba(48, 47, 61, 1),25.8em 25.8em rgba(48, 47, 61, 1),25.9em 25.9em rgba(48, 47, 61, 1),26em 26em rgba(48, 47, 61, 1)
  h1
    font-size: 40px
    font-weight: bolder
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
  h3
    font-size: 25px
    font-weight: lighter
    font-family: Quark-LightBold , verdana, helvetica, sans-serif


///Course Segment
.course-segment
  display: flex
  justify-content: flex-end
  align-items: center
  background: url('/images/course/course-intro-bg.png')
  background-color: #4FC3F7
  height: 100vh
  background-size: cover

.content-course
  display: flex
  flex-flow: row
  justify-content: space-around
  width: 65%
  padding-top: 15em
  color
  h1
    font-size: 60px
    font-weight: lighter
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
  h3
    font-size: 40px
    font-weight: lighter
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
.icon-play
  img
    opacity: 0.8
    height: 20em
    width: auto
    margin-top: 2em
    margin-left: -8em
.ui.button.learn-more-button
  background-color: #59BFD5
  color: #fff
  border-radius: 5em
  font-size: 25px
  font-weight: bolder
  height: 2.2em
  text-align: center
  font-family: Quark-LightBold , verdana, helvetica, sans-serif
  h3
    margin-top: -0.35em
.text-course
  text-align: right
  color: #59BFD5


///About Segment
.aboutus-segment
  background: url('/images/about/about-bg.png')
  background-color: #FFB74D
  height: 100vh
  background-size: cover
  display: flex
  align-items: center
  flex-flow: column
  justify-content: space-around
  .founder-row-one
    width: 70%
    display: flex
    flex-flow: row
    justify-content: space-around
    padding-top: 2em
  .founder-row-two
    width: 70%
    display: flex
    flex-flow: row
    justify-content: space-around
  img
    width: 13em
    box-shadow: 0 0 1em #000,0 0 2em #fff,0 0 2em #fff,0 0 2em #000
  .founder-one
    text-align: center
    color: #fff
    .founder-one-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-two
    text-align: center
    color: #fff
    .founder-two-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-three
    text-align: center
    color: #fff
    .founder-three-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-four
    text-align: center
    color: #fff
    .founder-four-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-five
    text-align: center
    color: #fff
    .founder-five-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-six
    text-align: center
    color: #fff
    .founder-six-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
///Contact Segment
.contact-segment
  background: url('/images/contact/contact.png')
  height: 100vh
  background-size: cover
  display: flex
  justify-content: center
.icon-bar-contact
  display: flex
  flex-flow: row
  justify-content: space-around
  align-items: center
  width: 60%
  img
    width: auto
    height: 7em


///Footer
.footer
  background: url('/images/footer/footer-partner-bg.png')
  background-color: #FFB74D
  height: 100vh
  background-size: cover





////////////////////////////////////////////////////////////////////////
