@font-face
  font-family: Quark-LightBold
  src: url('/fonts/Quark-LightBold/Quark-Light.otf') format("truetype")

body
  font-family: Quark-LightBold , verdana, helvetica, sans-serif
///Intro Segment

.intro-segment
  position: relative
  background: rgba(0,0,0,0.5)
  height: 100vh
  width: 100%
  background-size: cover
  overflow: hidden
  display: flex
  justify-content: center
  #vdo-bg
    position: absolute
    left: 0
    top: -25%
    width: auto
    height: 50%
    z-index: -100
audio, canvas, progress, video
  width: 100%
.nav-bar-fixed
  position: fixed
  top: 0
  right: 3em
///Navigator Before Click
.nav-button
  cursor: pointer
  width: 5em
  height: 5em
  position: sticky
  float: right
  margin-right: 3em
  -webkit-animation-name: example
  -webkit-animation-duration: 4s
  -webkit-animation-iteration-count: 3
  animation-name: example
  animation-duration: 1s
  animation-iteration-count: 1
@-webkit-keyframes example
  0%
    left: 200px
    top: 0px
  100%
    left: 0px
    top: 0px
@keyframes example
  0%
    left: 200px
    top: 0px
  100%
    left: 0px
    top: 0px
///Navigator After click
.nav-border
  border: 1px solid #000
.nav-button-after
  cursor: pointer
  width: 5em
  height: 5em
  position: relative
  float: right
  margin-right: 6em
  -webkit-animation-name: after
  -webkit-animation-duration: 4s
  -webkit-animation-iteration-count: 3
  animation-name: after
  animation-duration: 0.5s
  animation-iteration-count: 1
@-webkit-keyframes after
  0%
    left: 200px
    top: 0px
  100%
    left: 0px
    top: 0px
@keyframes af
  0%
    left: 200px
    top: 0px
  100%
    left: 0px
    top: 0px
///Menu icon
*
  margin: 0
  padding: 0


/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4
  width: 60px
  height: 45px
  position: relative
  margin: 50px auto
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer


#nav-icon1 span, #nav-icon3 span, #nav-icon4 span
  display: block
  position: absolute
  height: 9px
  width: 100%
  background: #d3531a
  border-radius: 9px
  opacity: 1
  left: 0
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .25s ease-in-out
  -moz-transition: .25s ease-in-out
  -o-transition: .25s ease-in-out
  transition: .25s ease-in-out


#nav-icon1 span:nth-child(1)
  top: 0px


#nav-icon1 span:nth-child(2)
  top: 18px


#nav-icon1 span:nth-child(3)
  top: 36px


#nav-icon1.open span:nth-child(1)
  top: 18px
  -webkit-transform: rotate(135deg)
  -moz-transform: rotate(135deg)
  -o-transform: rotate(135deg)
  transform: rotate(135deg)


#nav-icon1.open span:nth-child(2)
  opacity: 0
  left: -60px


#nav-icon1.open span:nth-child(3)
  top: 18px
  -webkit-transform: rotate(-135deg)
  -moz-transform: rotate(-135deg)
  -o-transform: rotate(-135deg)
  transform: rotate(-135deg)


/* Icon 2 */

#nav-icon2


#nav-icon2 span
  display: block
  position: absolute
  height: 9px
  width: 50%
  background: #ff9b2b
  opacity: 1
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .25s ease-in-out
  -moz-transition: .25s ease-in-out
  -o-transition: .25s ease-in-out
  transition: .25s ease-in-out
  z-index: +500
#nav-icon2 span:nth-child(even)
  left: 50%
  border-radius: 0 9px 9px 0


#nav-icon2 span:nth-child(odd)
  left: 0px
  border-radius: 9px 0 0 9px


#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2)
  top: 0px


#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4)
  top: 18px


#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6)
  top: 36px


#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)


#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)


#nav-icon2.open span:nth-child(1)
  left: 5px
  top: 7px


#nav-icon2.open span:nth-child(2)
  left: calc(50% - 5px)
  top: 7px


#nav-icon2.open span:nth-child(3)
  left: -50%
  opacity: 0


#nav-icon2.open span:nth-child(4)
  left: 100%
  opacity: 0


#nav-icon2.open span:nth-child(5)
  left: 5px
  top: 29px


#nav-icon2.open span:nth-child(6)
  left: calc(50% - 5px)
  top: 29px


/* Icon 3 */

#nav-icon3 span:nth-child(1)
  top: 0px


#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3)
  top: 18px


#nav-icon3 span:nth-child(4)
  top: 36px


#nav-icon3.open span:nth-child(1)
  top: 18px
  width: 0%
  left: 50%


#nav-icon3.open span:nth-child(2)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)


#nav-icon3.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)


#nav-icon3.open span:nth-child(4)
  top: 18px
  width: 0%
  left: 50%


/* Icon 4 */

#nav-icon4


#nav-icon4 span:nth-child(1)
  top: 0px
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center


#nav-icon4 span:nth-child(2)
  top: 18px
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center


#nav-icon4 span:nth-child(3)
  top: 36px
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center


#nav-icon4.open span:nth-child(1)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)
  top: -3px
  left: 8px


#nav-icon4.open span:nth-child(2)
  width: 0%
  opacity: 0


#nav-icon4.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)
  top: 39px
  left: 8px

.logo
  width: 100%
  display: flex
  justify-content: center
  flex-flow: column
  img
    width: 27em
    height: 35em
  h3
    font-size: 26px
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
    font-weight: lighter
    color: #fff
    text-shadow: 0 0 0.2em #ff9b29, 0 0 0.2em #ff9b29

.content-intro
  display: flex
  justify-content: center
  flex-flow: column
  text-align: center
  img
    width: 27em
    height: 35em
  h3
    font-size: 26px
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
    font-weight: lighter
    color: #fff
    text-shadow: 0 0 0.2em #ff9b29, 0 0 0.2em #ff9b29
.ui.menu
  font-size: 1.3rem
  font-family: Quark-LightBold , verdana, helvetica, sans-serif
.ui.inverted.menu
  background-color: #424242
.ui.menu .item
  line-height: 1.4


///What is Ada Segment
.what-adaode-segment
  display: flex
  justify-content: center
  align-items: center
  background: url('/images/what-is/WhatIs-bg.png')
  background-color: #9E9E9E
  height: 100vh
  background-size: cover
  overflow: hidden
  img
    position: absolute
    margin-top: 13em
    width: 75em
    height: 39em
    border-radius: 2em
.content-what-ada
  width: 75%
  height: 60%
  color: #fff
  background-color: rgba(66,65,83,0.9)
  text-align: center
  padding: 2em
  padding-top: 2.5em
  border-radius: 2em
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
  a
    color: #ff9b2b
  h1
    font-size: 40px
    font-weight: bolder
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
  h3
    font-size: 25px
    font-weight: lighter
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
/* Lifted corners

.lifted
  -moz-border-radius: 4px
  border-radius: 4px
  &:before
    bottom: 15px
    left: 10px
    width: 50%
    height: 20%
    max-width: 300px
    max-height: 100px
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    -webkit-transform: rotate(-3deg)
    -moz-transform: rotate(-3deg)
    -ms-transform: rotate(-3deg)
    -o-transform: rotate(-3deg)
    transform: rotate(-3deg)
  &:after
    bottom: 15px
    left: 10px
    width: 50%
    height: 20%
    max-width: 300px
    max-height: 100px
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    -webkit-transform: rotate(-3deg)
    -moz-transform: rotate(-3deg)
    -ms-transform: rotate(-3deg)
    -o-transform: rotate(-3deg)
    transform: rotate(-3deg)
    right: 10px
    left: auto
    -webkit-transform: rotate(3deg)
    -moz-transform: rotate(3deg)
    -ms-transform: rotate(3deg)
    -o-transform: rotate(3deg)
    transform: rotate(3deg)
///Course Segment
.course-segment
  display: flex
  justify-content: flex-end
  align-items: center
  background: url('/images/course/course-intro-bg.png')
  background-color: #4FC3F7
  height: 100vh
  background-size: cover

.content-course
  display: flex
  flex-flow: row
  justify-content: space-around
  width: 65%
  padding-top: 15em
  color
  h1
    font-size: 60px
    font-weight: lighter
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
  h3
    font-size: 40px
    font-weight: lighter
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
.icon-play
  img
    opacity: 0.8
    height: 20em
    width: auto
    margin-top: 2em
    margin-left: -8em
.ui.button.learn-more-button
  background-color: #59BFD5
  color: #fff
  border-radius: 5em
  font-size: 20px
  font-weight: bolder
  height: 2.2em
  text-align: center
  font-family: Quark-LightBold , verdana, helvetica, sans-serif
  h3
    margin-top: -0.35em
.text-course
  text-align: right
  color: #59BFD5


///About Segment
.aboutus-segment
  background: url('/images/about/about-bg.png')
  background-color: #FFB74D
  height: 100vh
  background-size: cover
  display: flex
  align-items: center
  flex-flow: column
  justify-content: space-around
  .founder-row-one
    width: 70%
    display: flex
    flex-flow: row
    justify-content: space-around
    padding-top: 2em
  .founder-row-two
    width: 70%
    display: flex
    flex-flow: row
    justify-content: space-around
  .founder-one
    text-align: center
    color: #fff
    img
      width: 13em
    .founder-one-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-two
    text-align: center
    color: #fff
    img
      width: 13em
    .founder-two-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-three
    text-align: center
    color: #fff
    img
      width: 13em
    .founder-three-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-four
    text-align: center
    color: #fff
    img
      width: 13em
    .founder-four-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-five
    text-align: center
    color: #fff
    img
      width: 13em
    .founder-five-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .founder-six
    text-align: center
    color: #fff
    img
      width: 13em
    .founder-six-detail
      margin-top: 1em
      h3
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
      p
        font-family: Quark-LightBold , verdana, helvetica, sans-serif
  .lighter-shadow-one
    text-align: center
    color: #fff
    img
      width: 13em
      box-shadow: 0 0 1em #fff,0 0 1em #ff0000,0 0 2em #ff0000
  .lighter-shadow-two
    text-align: center
    color: #fff
    img
      width: 13em
      box-shadow: 0 0 1em #FFF,0 0 1em #FFF,0 0 2em #FFF
  .lighter-shadow-three
    text-align: center
    color: #fff
    img
      width: 13em
      box-shadow: 0 0 1em #fff,0 0 1em #FF9800,0 0 2em #FF9800
  .lighter-shadow-four
    text-align: center
    color: #fff
    img
      width: 13em
      box-shadow: 0 0 1em #fff,0 0 1em #FFEA00,0 0 2em #FFEA00
  .lighter-shadow-five
    text-align: center
    color: #fff
    img
      width: 13em
      box-shadow: 0 0 1em #fff,0 0 1em #039BE5,0 0 2em #039BE5
  .lighter-shadow-six
    text-align: center
    color: #fff
    img
      width: 13em
      box-shadow: 0 0 1em #fff,0 0 1em #fff,0 0 2em #fff
///Contact Segment
.contact-segment
  background: url('/images/contact/contact.png')
  height: 100vh
  background-size: cover
  display: flex
  justify-content: center
.icon-bar-contact
  display: flex
  flex-flow: row
  justify-content: space-around
  align-items: center
  width: 60%
  img
    width: auto
    height: 7em


///Footer
.footer
  background: url('/images/footer/footer-partner-bg.png')
  background-color: #FFB74D
  height: 100vh
  background-size: cover
  display: flex
  flex-flow: column

  .partner-row-one
    width: 100%
    display: flex
    flex-flow: row
    justify-content: space-around
    margin-top: 2em
    margin-bottom: 3em
  .partner-row-two
    width: 100%
    display: flex
    flex-flow: row
    justify-content: space-around
    padding-left: 3em
    padding-right: 3em
  .partner-one
    text-align: center
    color: #fff
    img
      width: 11em
      box-shadow: 0 0 1em #FFF,0 0 1em #FFF,0 0 2em #FFF
  .partner-two
    text-align: center
    color: #fff
    img
      width: 11em
      box-shadow: 0 0 1em #FFF,0 0 1em #FFF,0 0 2em #FFF
  .partner-three
    text-align: center
    color: #fff
    img
      width: 11em
      box-shadow: 0 0 1em #FFF,0 0 1em #FFF,0 0 2em #FFF
  .partner-four
    text-align: center
    color: #fff
    img
      width: 11em
      box-shadow: 0 0 1em #FFF,0 0 1em #FFF,0 0 2em #FFF
  .partner-five
    text-align: center
    color: #fff
    img
      width: 11em
      box-shadow: 0 0 1em #FFF,0 0 1em #FFF,0 0 2em #FFF
  .partner-hover
    text-align: center
    color: #fff
    img
      width: 11em
      padding: 0.2em
      box-shadow: 0 0 1em #FFF,0 0 1em #FFF,0 0 2em #FFF


////////////////////////////////////////////////////////////////////////
