@font-face
  font-family: Quark-LightBold
  src: url('/fonts/Quark-LightBold/Quark-Light.otf') format("truetype")

body
  font-family: Quark-LightBold , verdana, helvetica, sans-serif

.intro-segment
  background: url('/images/home-bg.png')
  height: 100vh
  width: 100%
  background-size: cover
.what-adaode-segment
  background: url('/images/What-is.png')
  background-color: #9E9E9E
  height: 100vh
  background-size: cover
.course-segment
  background: url('/images/courses-intro.png')
  background-color: #4FC3F7
  height: 100vh
  background-size: cover
.aboutus-segment
  background: url('/images/about-us.png')
  background-color: #FFB74D
  height: 100vh
  background-size: cover
.contact-segment
  background: url('/images/contact-us.png')
  height: 100vh
  background-size: cover
.footer
  background: url('/images/footer.png')
  background-color: #263238
  height: 100vh
  background-size: cover
.nav-button
  position: fixed
  right: 8em
  top: 4.5em
  cursor: pointer
.logo
  position: fixed
  left: 8em
  top: 3.5em
  img
    width: 6em
    height: auto
.content-intro
  padding-top: 27em
  margin-left: 45em
  text-align: center
  h1
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
    font-size: 75px
    font-weight: lighter
    line-height: 0
    color: #424242
  h3
    font-size: 30px
    font-family: Quark-LightBold , verdana, helvetica, sans-serif
    font-weight: lighter
    color: #424242
.ui.menu
  font-size: 1.3rem
  font-family: Quark-LightBold , verdana, helvetica, sans-serif
.ui.inverted.menu
  background-color: #424242
.ui.menu .item
  line-height: 1.4
